@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin", system-ui;
  background-color: #00338d;
}

header {
  text-align: center;
  color: #c60c30;
  font-size: 3vw;
}

header img {
  width: 40vw;
}

.schedule-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-logo {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #696969;
}

.team-card {
  background-color: #696969;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

/* Credit for button: https://getcssscan.com/css-buttons-examples (Button 24)*/
.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}
